In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import openpyxl
from pprint import pprint
import datetime

### Extract the crowdfunding.xlsx Data

In [2]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx', engine='openpyxl')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [3]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [4]:
# Get the crowdfunding_info_df columns.


categories = crowdfunding_info_df['category & sub-category'].unique()


categories_df= pd.DataFrame(columns=['category_id', 'category'])

for i, category in enumerate(categories):
    categories_df.loc[i] = ['cat{}'.format(i+1), category]


categories_df['category'] = categories_df['category'].str.split('/').str[0]


categories_df = categories_df.drop_duplicates(subset=['category'])

categories_df

   category_id      category
0         cat1          food
1         cat2         music
2         cat3    technology
3         cat4       theater
4         cat5  film & video
9        cat10    publishing
11       cat12         games
14       cat15   photography
23       cat24    journalism

In [5]:
#export to output folder
categories_df.to_csv('./output/category.csv', index=False)

In [6]:
# Assign the category and subcategory values to category and subcategory columns.

subcategories = crowdfunding_info_df['category & sub-category'].unique()


subcategories_df= pd.DataFrame(columns=['category_id', 'sub_category'])

for i, category in enumerate(subcategories):
    subcategories_df.loc[i] = ['subcat{}'.format(i+1), category]


subcategories_df['sub_category'] = subcategories_df['sub_category'].str.split('/').str[1]
subcategories_df


subcategories_df

   category_id       sub_category
0      subcat1        food trucks
1      subcat2               rock
2      subcat3                web
3      subcat4              plays
4      subcat5        documentary
5      subcat6     electric music
6      subcat7              drama
7      subcat8         indie rock
8      subcat9          wearables
9     subcat10         nonfiction
10    subcat11          animation
11    subcat12        video games
12    subcat13             shorts
13    subcat14            fiction
14    subcat15  photography books
15    subcat16   radio & podcasts
16    subcat17              metal
17    subcat18               jazz
18    subcat19       translations
19    subcat20         television
20    subcat21       mobile games
21    subcat22        world music
22    subcat23    science fiction
23    subcat24              audio

In [7]:
#export sub categories
subcategories_df.to_csv('./output/subcategory.csv', encoding='utf8', index=False)

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [20]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head(10)

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays
5,2057,5650,Harris Group,Open-source optimizing database,7600,13195,successful,174,DK,DKK,1607666400,1630213200,False,False,theater/plays
6,1894,5889,"Ortiz, Coleman and Mitchell",Operative upward-trending algorithm,5200,1090,failed,18,GB,GBP,1596171600,1620709200,False,False,film & video/documentary
7,2669,4842,Carter-Guzman,Centralized cohesive challenge,4500,14741,successful,227,DK,DKK,1608616800,1632200400,False,False,theater/plays
8,1114,3280,Nunez-Richards,Exclusive attitude-oriented intranet,110100,21946,live,708,DK,DKK,1586322000,1615356000,False,False,theater/plays
9,970,5468,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200,3208,failed,44,US,USD,1628830800,1630386000,False,False,music/electric music

In [21]:
# Rename the blurb, launched_at, and deadline columns.
#rename
campaign_df = campaign_df.rename(columns={'blurb':'description'})
campaign_df = campaign_df.rename(columns={'launched_at':'launch_date'})
campaign_df = campaign_df.rename(columns={'deadline': 'end_date'})

#convert data type
campaign_df['goal'] = campaign_df['goal'].astype(float)
campaign_df['pledged'] = campaign_df['pledged'].astype(float)

#todatetime
campaign_df['launch_date'] = pd.to_datetime(campaign_df['launch_date'], unit='s')
campaign_df['end_date'] = pd.to_datetime(campaign_df['end_date'], unit='s')

#drop columns
campaign_df.drop('staff_pick', axis=1, inplace=True)
campaign_df.drop('spotlight', axis=1, inplace=True)

#show results
#print(campaign_df.dtypes)
campaign_df.head(10)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13 06:00:00,2021-03-01 06:00:00,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25 06:00:00,2021-05-25 05:00:00,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17 06:00:00,2021-12-30 06:00:00,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21 05:00:00,2022-01-17 06:00:00,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21 06:00:00,2021-08-23 05:00:00,theater/plays
5,2057,5650,Harris Group,Open-source optimizing database,7600.0,13195.0,successful,174,DK,DKK,2020-12-11 06:00:00,2021-08-29 05:00:00,theater/plays
6,1894,5889,"Ortiz, Coleman and Mitchell",Operative upward-trending algorithm,5200.0,1090.0,failed,18,GB,GBP,2020-07-31 05:00:00,2021-05-11 05:00:00,film & video/documentary
7,2669,4842,Carter-Guzman,Centralized cohesive challenge,4500.0,14741.0,successful,227,DK,DKK,2020-12-22 06:00:00,2021-09-21 05:00:00,theater/plays
8,1114,3280,Nunez-Richards,Exclusive attitude-oriented intranet,110100.0,21946.0,live,708,DK,DKK,2020-04-08 05:00:00,2021-03-10 06:00:00,theater/plays
9,970,5468,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200.0,3208.0,failed,44,US,USD,2021-08-13 05:00:00,2021-08-31 05:00:00,music/electric music

In [19]:
#adding new column for category and subcategory id


#split the categories&subcategories column on the /
campaign_df['category'] = campaign_df['category & sub-category'].str.split('/').str[0]
campaign_df['sub_category'] = campaign_df['category & sub-category'].str.split('/').str[1]

#add the ID of each by merging on the split column
campaign_merged_df = campaign_df.merge(categories_df, on='category', how='left')
campaign_merged_df = campaign_merged_df.merge(subcategories_df, on='sub_category', how='left')


#delete the categories columns
campaign_merged_df.drop('category', axis=1, inplace=True)
campaign_merged_df.drop('sub_category', axis=1, inplace=True)
campaign_merged_df.drop('category & sub-category', axis=1, inplace=True)

#rename columns 
campaign_merged_df = campaign_merged_df.rename(columns={'category_id_x': 'category_ID'})
campaign_merged_df = campaign_merged_df.rename(columns={'category_id_y': 'subcategory_ID'})

campaign_merged_df = campaign_merged_df.drop_duplicates()

campaign_merged_df.head(20)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category_ID,subcategory_ID
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13 06:00:00,2021-03-01 06:00:00,cat1,subcat1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25 06:00:00,2021-05-25 05:00:00,cat2,subcat2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17 06:00:00,2021-12-30 06:00:00,cat3,subcat3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21 05:00:00,2022-01-17 06:00:00,cat2,subcat2
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21 06:00:00,2021-08-23 05:00:00,cat4,subcat4
5,2057,5650,Harris Group,Open-source optimizing database,7600.0,13195.0,successful,174,DK,DKK,2020-12-11 06:00:00,2021-08-29 05:00:00,cat4,subcat4
6,1894,5889,"Ortiz, Coleman and Mitchell",Operative upward-trending algorithm,5200.0,1090.0,failed,18,GB,GBP,2020-07-31 05:00:00,2021-05-11 05:00:00,cat5,subcat5
7,2669,4842,Carter-Guzman,Centralized cohesive challenge,4500.0,14741.0,successful,227,DK,DKK,2020-12-22 06:00:00,2021-09-21 05:00:00,cat4,subcat4
8,1114,3280,Nunez-Richards,Exclusive attitude-oriented intranet,110100.0,21946.0,live,708,DK,DKK,2020-04-08 05:00:00,2021-03-10 06:00:00,cat4,subcat4
9,970,5468,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200.0,3208.0,failed,44,US,USD,2021-08-13 05:00:00,2021-08-31 05:00:00,cat2,subcat6
10,2340,3064,Green Ltd,Monitored empowering installation,5200.0,13838.0,successful,220,US,USD,2020-07-11 05:00:00,2021-08-02 05:00:00,cat5,subcat7
11,601,4904,"Perez, Johnson and Gardner",Grass-roots zero administration system engine,6300.0,3030.0,failed,27,US,USD,2020-08-11 05:00:00,2021-06-26 05:00:00,cat4,subcat4
12,1950,1299,Kim Ltd,Assimilated hybrid intranet,6300.0,5629.0,failed,55,US,USD,2020-11-14 06:00:00,2021-04-09 05:00:00,cat5,subcat7
13,671,5602,"Walker, Taylor and Coleman",Multi-tiered directional open architecture,4200.0,10295.0,successful,98,US,USD,2020-11-11 06:00:00,2021-11-06 05:00:00,cat2,subcat8
14,1683,5753,"Rodriguez, Rose and Stewart",Cloned directional synergy,28200.0,18829.0,failed,200,US,USD,2021-11-14 06:00:00,2022-01-02 06:00:00,cat2,subcat8
15,505,4495,"Wright, Hunt and Rowe",Extended eco-centric pricing structure,81200.0,38414.0,failed,452,US,USD,2021-10-25 05:00:00,2021-12-16 06:00:00,cat3,subcat9
16,1245,4269,Hines Inc,Cross-platform systemic adapter,1700.0,11041.0,successful,100,US,USD,2021-08-20 05:00:00,2021-12-22 06:00:00,cat10,subcat10
17,2550,2226,Cochran-Nguyen,Seamless 4thgeneration methodology,84600.0,134845.0,successful,1249,US,USD,2020-04-12 05:00:00,2021-03-24 05:00:00,cat5,subcat11
18,875,1558,Johnson-Gould,Exclusive needs-based adapter,9100.0,6089.0,canceled,135,US,USD,2021-03-24 05:00:00,2022-01-27 06:00:00,cat4,subcat4
19,2283,2307,Perez-Hess,Down-sized cohesive archive,62500.0,30331.0,failed,674,US,USD,2021-10-12 05:00:00,2021-11-17 06:00:00,cat4,subcat4

In [11]:
# Export the DataFrame as a CSV file. 
campaign_merged_df.to_csv("output/campaign.csv", encoding='utf8', index=False)

### Extract the contacts.xlsx Data.

In [12]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=2, engine='openpyxl')
contact_info_df.head()

                                        contact_info
0  {"contact_id": 4661, "name": "Cecilia Velasco"...
1  {"contact_id": 3765, "name": "Mariana Ellis", ...
2  {"contact_id": 4187, "name": "Sofie Woods", "e...
3  {"contact_id": 4941, "name": "Jeanette Iannott...
4  {"contact_id": 2199, "name": "Samuel Sorgatz",...

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [13]:
# Iterate through the contact_info_df and convert each row to a dictionary.
import json
dict_values = []
for i,row in contact_info_df.iterrows():
    contact_info = row["contact_info"]
    contact_info_dict = json.loads(contact_info)
   
    contact_id = contact_info_dict["contact_id"]
    name = contact_info_dict["name"]
    email = contact_info_dict["email"]

    values_list = [contact_id, name, email]
    dict_values.append(values_list)
# Print out the list of values for each row.
print(dict_values[0:5])

[[4661, 'Cecilia Velasco', 'cecilia.velasco@rodrigues.fr'], [3765, 'Mariana Ellis', 'mariana.ellis@rossi.org'], [4187, 'Sofie Woods', 'sofie.woods@riviere.com'], [4941, 'Jeanette Iannotti', 'jeanette.iannotti@yahoo.com'], [2199, 'Samuel Sorgatz', 'samuel.sorgatz@gmail.com']]

In [14]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.
contact_info_cleaned = pd.DataFrame(dict_values, columns=['contact_id', 'name', 'email'])

contact_info_cleaned.head(3)

   contact_id             name                         email
0        4661  Cecilia Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana Ellis       mariana.ellis@rossi.org
2        4187      Sofie Woods       sofie.woods@riviere.com

In [15]:
# Check the datatypes
contact_info_cleaned[['first name', 'last name']] = contact_info_cleaned['name'].str.split(' ', expand=True)

# rename columns to remove escaped characters
contact_info_cleaned = contact_info_cleaned[['contact_id', 'first name', 'last name', 'email']]

# display the resulting DataFrame
contact_info_cleaned

,contact_id,first name,last name,email
0,4661,Cecilia,Velasco,cecilia.velasco@rodrigues.fr
1,3765,Mariana,Ellis,mariana.ellis@rossi.org
2,4187,Sofie,Woods,sofie.woods@riviere.com
3,4941,Jeanette,Iannotti,jeanette.iannotti@yahoo.com
4,2199,Samuel,Sorgatz,samuel.sorgatz@gmail.com
...,...,...,...,...
995,3684,Whitney,Noack,whitney.noack@laboratorios.org
996,5784,Gelsomina,Migliaccio,gelsomina.migliaccio@junk.com
997,1498,Evangelista,Pereira,evangelista.pereira@thompson-peterson.biz
998,6073,Gareth,Comolli,gareth.comolli@tiscali.fr
999,4939,Michelangelo,Hess,michelangelo.hess@bouygtel.fr

In [16]:
# Check the datatypes one more time before exporting as CSV file.
contact_info_cleaned.dtypes

contact_id     int64
first name    object
last name     object
email         object
dtype: object

In [17]:
# Export the DataFrame as a CSV file. 
contact_info_cleaned.to_csv("output/contacts.csv", encoding='utf8', index=False)